.bg-navbar {
	background-image: url(../../dist/images/woodnavbg.jpg);
	background-position: center;
}


.sitebgwood {
	background-color: black !important;
}

.gametablebg {
	background-image: url(../../dist/images/woodbg.jpg) ;
	background-size: cover;
	min-width: 100%;
	min-height: 1000px;
}

.gametablebg2 {
	background-image: url(../../dist/images/woodbg2.jpg) ;
	background-size: cover;
	min-width: 100%;
	min-height: 1000px;
}

.switch {
	background: url(../../dist/images/switch.png) center center;
	background-size: cover;
	
}

.clear-day {
	background: url(../../dist/images/botwsunny.png) center center;
	background-size: cover;
}

.clear-night {
	background: url(../../dist/images/botwclearnight2.png) center center;
	background-size: cover;
}

.rain {
	background: url(../../dist/images/botwrain.png) center center;
	background-size: cover;
}

.snow {
	background: url(../../dist/images/botwsnow.png) center center;
	background-size: cover;
}

.sleet {
	background: url(../../dist/images/botwsleet.png) center center;
	background-size: cover;
}

.wind {
	background: url(../../dist/images/botwwindy.png) center center;
	background-size: cover;
}

.fog {
	background: url(../../dist/images/botwfog.png) center center;
	background-size: cover;
}

.cloudy {
	background: url(../../dist/images/botwcloudy.png) center center;
	background-size: cover;
}

.partly-cloudy-day {
	background: url(../../dist/images/botwcloud.png) center center;
	background-size: cover;
}

.partly-cloudy-night {
	background: url(../../dist/images/botwnightcloudy.png) center center;
	background-size: cover;
}

.switchcontainer {
	min-height: 500px;
}

.movedown {
	padding-top: 132px;
	background-position: relative;
}

.searchbarbg {
	background-image: url(../../dist/images/searchbar.jpg);
	background-size: cover;
}

.searchbargobg {
	background-image: url(../../dist/images/searchbargo.jpg);
	background-size: cover;
}
.searchtypewhite {
	color: white;
	
}

.shadowbox {
	box-shadow: 2px 2px 5px 5px #000;
}

.shadowboxinner {
	box-shadow: inset 2px 2px 5px 3px #170d02;

}

.weathersquare {
	// background-image: url(../../dist/images/weathersquare.png);
	max-height: 230px;
	max-width: 425px;
	

}

.weathersquarepush {
	margin: 0 auto;
}

.lineheightadjust {
	line-height: 150%;
	
}

.lineheightadjust2 {
	line-height: 50%;
	
}

.textstroke {
	-webkit-text-stroke: 3px black;
   
}

.textstrokeshadow {

	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.locationsize {
	font-size: 27px;
}

.locationsizesmall {
	font-size: 21px;
}

.extraleading {
	letter-spacing: 30px;
}

.floatfloat {
	float: left;
}

.weatherstats {
	padding-top: 20px;
}

.weatherframepad {
	padding-right: 50px;
}

.locationrelocate {
	display: inline-block;
}

.musicplayer {
	font-size: 20px;
}

.musicboxsize {
	max-width: 150px;
}

.logocenter {
	margin: 0 auto;
}

.iconheight {
	min-height: 200px;
}

.degreesizeboost {
	font-size: 120px;
}

.linkwalk {
	background: url(../../dist/images/linkwalk.gif) center center no-repeat;
	
	min-height: 24px;
	min-width: 16px;
}

.degreeframesize {
	min-height: 200px;
}

.weathertypesize {
	min-width: 400px;
}

.audioplayer {
	position: absolute;
	top: 567px;
	left: 50%;
	right: 50%;
	width: 300px;
	margin-left: -151px;

}