.bg-navbar {
	background-image: url(../../dist/images/woodnavbg.jpg);
	background-position: center;
}

.sitebgwood {
	background-color: black !important;
}

.gametablebg {
	background-image: url(../../dist/images/woodbg.jpg);
	background-size: cover;
	min-width: 100%;
	min-height: 1000px;
}

